//
// Footer
// --------------------------------------------------


footer {
	&.footer-plans {
		border-top: 1px solid $gray-border;
		background-color: #FAFAFA;
		padding-top: 100px;
		@include respond-to('medium') {
			padding: 0 30px;
			padding-top: 100px;
		}
		.wrapper {
			margin-bottom: 80px;
		}
		h3 {
			color: $black-light;
			font-size: 34px;
			font-family: $myriad-thin;
		}
		p {
			color: $black-light;
			font-size: 18px;
			font-family: $myriad-thin;
			margin-top: 18px;
		}
		
		
		.inner + .inner {
			float: right;
			padding: 0 20px;
			img {
				margin: 0 auto;
			}
		}
		.aexid {
			height: auto;
			padding-left: 20px;
			margin-top: 30px;

			li {
				list-style-image: url(../images/check.png);	
				width: 100%;	
				p {
					text-align: left;
					margin-top: 0;
				}		
			}
			li + li {
				padding-top: 23px;
				margin-left: 0;
			}
		}
		a.btn {
			border-radius: 0;
			margin-top: 25px;
			margin-bottom: 100px;
			height: 38px;
			line-height: 38px;
			text-align: center;
			width: 184px;
		}
	}
	ul {
		height: 20px;
		margin: 0 auto 20px;
		
		li {
			float: left;
			list-style: none;
			span {
				color: #878787;
				font-size: 12px;
				font-family: "Helvetica";
			}
			a {
				color: #666666;
				font-size: 12px;
				font-family: "Helvetica";
			}
		}

		li + li {
			margin-left: 35px;
		}

		&.footer-big {
			display: block;
			width: 550px;
		}
		&.footer-mobile {
			background-color: $gray-lightest;
			display: none;
			height: 70px;
			padding:20px;
			width: 100%;
			li {
				text-align: center;
				display: block;
				width: 100%;
			}

			li + li {
				margin-left: 0;
				a {
					color: $blue-dark;
				}
			}
		}

		@include respond-to('medium') {
			&.footer-big {
				display: none;
			}
			&.footer-mobile {
				display: block;
			}
		}
	}

	&.footer-driver, &.footer-business-login {
		ul.footer-big {
			float: left;
		}

		ul.social {
			float: right;
			li + li {
				margin-left: 20px;
			}
		}
	}

	&.footer-business-login {
		height: 20px;
		bottom: 20px;
		left: 50%;
		position: absolute;
		width: 1000px;

		@include transform(translateX(-50%));
	}
}