//
// Footer
// --------------------------------------------------


footer {
	ul {
		height: 20px;
		margin: 0 auto 20px;
		
		li {
			float: left;
			list-style: none;
			span {
				color: #878787;
				font-size: 12px;
				font-family: "Helvetica";
			}
			a {
				color: #666666;
				font-size: 12px;
				font-family: "Helvetica";
			}
		}

		li + li {
			margin-left: 35px;
		}

		&.footer-big {
			display: block;
			width: 550px;
		}
		&.footer-mobile {
			background-color: $gray-lightest;
			display: none;
			height: 70px;
			padding:20px;
			width: 100%;
			li {
				text-align: center;
				display: block;
				width: 100%;
			}

			li + li {
				margin-left: 0;
				a {
					color: $blue-dark;
				}
			}
		}

		@include respond-to('medium') {
			&.footer-big {
				display: none;
			}
			&.footer-mobile {
				display: block;
			}
		}
	}
}