//
// Default form
// --------------------------------------------------

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"] {
    height: 45px;
    line-height: 45px;
    border: 1px solid $gray-border;
    background-color: $white;
    margin: 0;
    
    padding: 0 10px;
    display: block;
    
    -webkit-appearance: none;
    border-radius: 5px;

    color: $gray;
    font-size: 16px;
    font-family: $proxima-regular;
    width: 100%;

    &:focus {
        outline: none;
        // box-shadow: 0 0 5px rgba(0,0,0,.2);
        background-color: $gray-lightest;
        @include placeholder {
            color: $gray-placeholder;
        }
    }

    @include placeholder {
        color: $gray-placeholder;
        line-height: 45px;
        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
        font-size: 16px;
        font-family: $proxima-light;
    }
}

.control-group {
    margin-top: 20px;
}

.control-group-checkbox {
    label {
        color: $gray-placeholder;
        font-size: $font-size-base;
        font-family: $proxima-regular;
    }
    input[type="checkbox"] {
        border: 1px solid $gray-border;
        background-color: $white;
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }
}

.control-group-search {
    position: relative;
    .control-group-search-inner {
        &:before {
            background: url('../images/search.png') left center no-repeat;
            content:'';
            display: block;
            height: 10px;
            width: 10px;
            position: absolute;
            left:10px;
            top: 50%;
            @include transform(translateY(-50%));
        }
    }
    
    input {
        padding-left: 30px;         
    }
}