//
// Header
// --------------------------------------------------
.logo {
	background-color: $gray-light;	
	height: 50px;
	width: 94px;	
}

body.interne {
	.logo {
		background-color: transparent;
		height: 22px;
		width: 104px;
	}
}

.interne-header {
	.logo {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}
}

header {
	background-color: $white;
	border-bottom: 1px solid $gray-border;
	height: 60px;
	line-height: 60px;
	width: 100%;

	p {
		color: $blue-dark;
		display: inline-block;
		font-size: 16px;
		font-family: $proxima-regular;
		padding-left: 20px;
		position: relative;
		text-transform: uppercase;

		&:before {
			background-color: $gray-border;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			@include translate(-50%, -50%);
			height: 50px;
			width: 1px;
		}
	}

	ul {		
		display: inline-block;
		height: 60px;
		padding-left: 20px;
		margin-left: 114px;
		margin-top: 0;
		position: relative;
		&:before {
			background-color: $gray-border;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			@include translate(-50%, -50%);
			height: 50px;
			width: 2px;
		}

		li {
			float: left;
			height: 59px;
			line-height: 59px;
			list-style: none;	
			position: relative;		
			&.active {
				border-bottom: 1px solid $turquoise;
			}
			a {
				color: $blue-dark;			
				font-size: 13px;
				font-family: $brandon-medium;
				text-transform: uppercase;
			}
		}

		li + li {
			margin-left: 20px;
		}
	}

	&.interne-header {
		ul {
			margin-left: 140px;

			&:before {
				display: none;
			}

			li {
				&.gray-circle {

					margin-right: 20px;

					&:after {
						background-color: $gray-light;
						border-radius: 100%;
						content: '';
						display: block;
						width: 8px;
						height: 8px;
						position: absolute;
						right: -20px;
						top: 50%;
						@include transform(translateY(-50%));
					}
				}
			}
		}
	}
}