//
// Header
// --------------------------------------------------
.logo {
	background-color: $gray-light;	
	height: 50px;
	width: 94px;		
}

body.interne {
	.logo {
		background-color: transparent;
		height: 15px;
		width: 71px;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}

.interne-header {
	.logo {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
	}
	.dropdown-logo {
		display: none;
		background-color: $white;
		border-radius: 4px;
		border: 1px solid $gray-border;
		height: 50px;
		line-height: 50px;
		position: absolute;
		width: 120px;
		top: 65px;
		z-index: 4;

		.dropdown-logo-inner {
			height: 50px;
			line-height: 50px;
			position: relative;
			width: 100%;
			&:before {
				content: '';
				height: 0px;
				width: 0px;
				position: absolute;
				top: -20px;
				margin-top: 10px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $gray-border;
				left:50%;
				@include transform(translateX(-50%));
			}
		}

		&.active {
			display: block;
		}

		
		.bloc {
			background-color: $gray-light;
			position: absolute;
			top: 50%;
			left: 50%;
			height: 34px;
			width: 80px;

			@include transform(translate(-50%,-50%));
		}
	}
}

.progress-bar {
	border-radius: 30px;
	position: relative;
	height: 10px;
	width: 100%;
	margin-top: 10px;

	.progress-bar-empty {
		border-radius: 30px;
		background-color: $gray-lighter;
		display: block;
		height: 100%;
		width: 100%;
	}

	.progress-bar-full {
		border-radius: 30px;
		background-color: $turquoise;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		
		&.step1 {
			width: 25%;	
		}
		&.step2 {
			width: 50%;	
		}
		&.step3 {
			width: 75%;	
		}
		&.step4 {
			width: 100%;	
		}
	}
}

header {
	background-color: $white;
	border-bottom: 1px solid $gray-border;
	height: 60px;
	line-height: 60px;
	width: 100%;

	p {
		color: $blue-dark;
		display: inline-block;
		font-size: 16px;
		font-family: $proxima-regular;
		padding-left: 20px;
		position: relative;
		text-transform: uppercase;

		&:before {
			background-color: $gray-border;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			@include translate(-50%, -50%);
			height: 50px;
			width: 1px;
		}
	}

	ul {		
		display: inline-block;
		height: 60px;
		padding-left: 20px;
		margin-left: 114px;
		margin-top: 0;
		position: relative;
		&:before {
			background-color: $gray-border;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			@include translate(-50%, -50%);
			height: 50px;
			width: 2px;
		}

		li {
			float: left;
			height: 59px;
			line-height: 59px;
			list-style: none;	
			position: relative;		
			&.active {
				border-bottom: 1px solid $turquoise;
			}
			a {
				color: $blue-dark;			
				font-size: 13px;
				font-family: $brandon-medium;
				text-transform: uppercase;
			}
		}

		li + li {
			margin-left: 20px;
		}

		&.header-big {
			@include respond-to('small') {
				display: none;
			}
		}
	}

	.header-mobile {
		display: none;
		float: right;
		width: 50%;
		p {
			color: $blue-dark;
			font-size: 12px;
			font-family: $proxima-semibold;
			display: inline-block;
			&:before {
				display: none;
			}
		}

		.progress-bar {
			display: inline-block;
			width: 75%;
		}

		@include respond-to('small') {
			display: block;

			.progress-bar {
				margin-top: 0;
			}
		}
	}

	&.interne-header {
		ul {
			margin-left: 140px;

			&:before {
				display: none;
			}

			li {
				&.gray-circle {

					margin-right: 20px;

					&:after {
						background-color: $gray-light;
						border-radius: 100%;
						content: '';
						display: block;
						width: 8px;
						height: 8px;
						position: absolute;
						right: -20px;
						top: 50%;
						@include transform(translateY(-50%));
					}
				}
			}
		}		
	}

	.account {
		float: right;
		p {
			color: $blue-dark;			
			font-size: 13px;
			font-family: $brandon-medium;
			text-transform: uppercase;
			&:before {
				display: none;
			}
			&:after {
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 7px solid $blue-dark;
				content: "";
				height: 10px;
				width: 0px;
				position: absolute;
				right: -20px;
				top: 50%;
				margin-top: -3px;
			}			
		}
	}
}

