//
// assets
// --------------------------------------------------

.resume {
	background-color: $white;
	border: 1px solid $gray-border;
	border-radius: 4px;
	height: auto;
	width: 314px;
	z-index: 9;
	@include transition(opacity 0.4s);

	&.not-active {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&.active {
		position: absolute;
		opacity: 1;
		visibility: visible;
	}	

	.resume-arrow {		
		height: 10px;
		width: 0px;
		position: absolute;
		top: 50%;
		margin-top: 10px;

		&.left {
			border-bottom: 10px solid transparent;
			border-right: 10px solid $gray-border;
			border-top: 10px solid transparent;
			left:-10px;
		}
		&.right {
			border-left: 10px solid $gray-border;
			border-bottom: 10px solid transparent;
			border-top: 10px solid transparent;
			right:-10px;
		}
	}

	p {
		font-size: 13px;
		font-family: $proxima-regular;
		&.label {
			color: $gray;
			text-align: right;
		}
		&.text {
			color: $blue-dark;
			padding-left: 20px;
		}
	}

	&.resume-info {
		
		max-width: 225px;

		.resume-arrow {		
			margin-top: 0;
			opacity: 0.7;
			&.left {
				border-bottom: 10px solid transparent;
				border-right: 10px solid $black-light;
				border-top: 10px solid transparent;
				left:-10px;
			}
			&.right {
				border-left: 10px solid $black-light;
				border-bottom: 10px solid transparent;
				border-top: 10px solid transparent;
				right:-10px;
			}
		}
		.bg {
			border-radius: 8px;
			background-color: $black-light;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			opacity: 0.7;
			left: 0;
			z-index: 1;
		}
		p.text {
			color: $white;
			font-family: $proxima-light;
			font-size: 14px;
			padding: 11px 14px;
			position: relative;
			z-index: 2;
		}
	}

	.resume-tab {
		padding: 0 10px;
		
		.resume-tab-inner {
			padding: 15px 0;			

			.row + .row {
				margin-top: 8px;
			}
		}

	}

	.resume-tab + .resume-tab {
		border-top: 1px solid $gray-border;
	}

	&.gray {
		background-color: #EFEFEF;
	}

	.control-group {
		margin-top: 0;
	}
	.btn-submit-wrapper {
		border:1px solid $gray-border;
		border-radius: 5px;
		height: 26px;
		margin: 0 auto;
		width: 120px;
		input {
			height: 22px;
			line-height: 22px;
			font-size: 13px;
			font-family: $proxima-regular;
		}
	}
}

.resume-driver {
	border-radius: 4px;
	border:1px solid $gray-border;
	background-color: $black-light;
	padding: 6px 15px;
	text-align: center;
	p {
		color: $white;
		font-size: 13px;
		margin-top: 0;

		&.driver {
			font-family: $proxima-semibold;
		}
		&.phone {
			font-family: $proxima-light;
		}
	}

}