//
// Form page
// --------------------------------------------------

.page-form {
	background-color: $gray-lightest;
	height: 100%;
	width: 100%;

	.logo {
		margin-right: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		@include transform(translateY(-50%));
		@include respond-to('small') {
			left: 15px;
		}
	}
}

.content-form {
	width: 1202px;
	@include respond-to('medium') {
		width: 90%;
	}

	.step-wrapper {			

		.control-group {
			display: none;
			&.active {
				display: block;
			}

			.btn {
				font-size: 14px;
			}
		}
	}

	.content-form-inner {
		border-left: 1px solid $gray-border;
		display: none;
		padding: 30px;	
		width: 935px;	
		
		@include respond-to('medium') {
			width: 100%;
		}

		&.active {
			display: block;
		}

		h2 {
			color: $blue-dark;
			font-size: 30px;
			font-family: $proxima-semibold;
		}

		p {
			color: $blue-dark;
			font-family: $proxima-light;
			font-size: 16px;
		}

		.link-more {
			background: url('../images/home/icn-more.png') center center no-repeat;
			position: absolute;
			right: 16px;
			bottom: 16px;
			height: 13px;
			width: 12px;
		}

		.control-group-checkbox, .control-group {
			margin-top: 20px;
			position: relative;
			span.label {
				color: $blue-dark;
				display: block;
				font-size: 16px;
				font-family: $proxima-semibold;
			}
			.sod_select, input {
				margin-top: 10px;
			}
			input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
				color: $blue-dark;
				font-size: 16px;
				@include placeholder {
					font-size: 16px;
				}
			}
			.padding-right {
				padding-right: 20px;
				position: relative;

				@include respond-to('medium') {
					padding-right: 0;
				}
				.link-more {
					right: 36px;

					@include respond-to('medium') {
						right: 16px;
					}
				}
			}

			&.error {
				input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
					color: $red;
					@include placeholder {
						color: $red;
					}
				}
			}
		}
		
		.control-group-error {
			background-color: $red-light;
			border:1px solid $red;
			border-radius: 4px;
			padding: 12px;
			margin-top: 30px;
			p {
				color: $blue-dark;
				display: block;
				font-size: 16px;
				font-family: $proxima-semibold;
			}
			span {
				color: $blue-dark;
				display: block;
				font-size: 16px;
				font-family: $proxima-light;
				margin-top: 10px;
			}
		}
		
		&.step4 {
			padding: 0;			
			@include respond-to('small') {
				display: none;
			}
		}
		&.step4-mobile {
			display: none;
			p {
				font-size: 16px;
				font-family: $proxima-light;
				&.step4-mobile-title {
					color: $gray;
					font-family: $proxima-semibold;
				}
				&.file-name {
					color: $gray;					
				}
			}
			.control-group + .control-group {
				margin-top: 30px;
			}
			.btn {
				@include placeholder {
					color:$white;
					font-size: 16px;
					font-family: $proxima-semibold;
					text-align: center;
				}
			}
			&.active {
				@include respond-to('small') {
					display: block;
				}
			}			
		}

		.step4-top {
			padding: 30px;
			@include respond-to('small') {
				padding: 0;
			}
		}

		.step4-inner {
			border-top: 1px solid $gray-border;
			&.step4-left {				
				border-right: 1px solid $gray-border;
				width: 470px;
			}
			&.step4-right {
				width: 463px;
			}
			
			ul {
				padding: 0;
			}
	
			li {
				cursor: pointer;
				display: block;
				height: 60px;
				line-height: 60px;
				position: relative;
				width: 100%;

				&:after {
					// background: transparent;
					background: url('../images/arrow.png') center center no-repeat;
			        content: "";
			        display: block;
			        position: absolute;
			        height: 10px;
			        width: 7px;
			        right: 10px;
			        top: 50%;
			        // border-left: 3px solid #C7C7CC;
			        // border-top: 3px solid #C7C7CC;
			        
			        z-index: 2;
			        // @include transform(translateY(-50%));
			        // @include transform(translateY(-50%) rotate(135deg));
				}

				span {
					color: $blue-dark;
					font-size: 16px;
					font-family: $proxima-light;
					padding:0 25px 0 15px;
				}

				&.check {
					&:after {			
						background: url('../images/check.png') center center no-repeat;
				        height: 10px;
				        width: 13px;				        
				        // border-left: 3px solid $turquoise;
				        // border-top: 3px solid $turquoise;

				        // @include transform(translateY(-50%) rotate(225deg));
					}
				}				

				&:hover, &.active {
					background-color: $turquoise;

					@include transition(background-color 0.4s);

					span {
						color: $white;
						font-family: $proxima-semibold;
					}
					&.check {
						&:after {
							// border-left: 3px solid $white;
				   //      	border-top: 3px solid $white;
				        	background: url('../images/check-white.png') center center no-repeat;
			        	}
					}
				}
			}

			li + li {
				border-top: 1px solid $gray-border;
			}
		}

		.step4-inner-padding {
			padding: 20px;

			.control-group-file {
				padding: 20px;
				margin: 0 auto;
				width: 292px;
				input {
					@include placeholder {
						color: $white;
						text-align: center;
						font-family: $proxima-semibold;
					}
				}
				span {
					display: block;
					font-size: 16px;
					font-family: $proxima-light;
					text-align: center;
					margin-top: 20px;
				}
			}
		}

		.file-imported {
			width: 100%;
			img {
				max-width: 100%;
			}
		}
	}

	.step-finish {
		display: none;
		padding: 30px;
		text-align: center;

		&.active {
			display: block;
		}

		.step-finish-inner {
			margin: 0 auto;
			width: 75%;

			@include respond-to('medium') {
				width: 100%;
			}
		}

		h2 {
			font-size: 30px;
			font-family: $proxima-semibold;
			margin-bottom: 30px;
		}
		p {
			color: $blue-dark;
			font-family: $proxima-light;
		}
	}
}